.main {
  padding: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.status {
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
}

.en-attente {
  background: #fff3cd;
  color: #ff9800;
}
